# NestInsights v5.0 — Environment Configuration
SECRET_KEY=nestinsights-v5-change-this-in-production-2024
ANTHROPIC_API_KEY=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
SCRAPE_DO_TOKEN=16bc59ab7dd446f5903f11c351e30f142add6f55fc3
HOST=0.0.0.0
PORT=5000
